

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sifremi Unuttum - Admin</title>

    <!-- Bootstrap CSS -->
    <link href="/Content/panel/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/panel/login.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="login-wrap">
                        @if (@ViewBag.Uyari != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.Uyari
                            </div>

                        }
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Şifremi Unuttum</h5>
                        <form action="/Admin/SifremiUnuttum/" method="post">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="eposta" required placeholder="E posta adresiniz" />
                                <label for="floatingInput">E-posta Adresi</label>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                                    Şifremi Mail Olarak Gönder
                                </button>
                            </div>
                        </form>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="/panel/giris/" class="text-break"> Yönetim Paneline Giriş</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted">© Akif Kaplan</p>
    </div>
    <script src="~/Content/panel/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/panel/js/bootstrap.min.js"></script>
</body>
</html>
