@model kisiselWebsitem.Models.Model.Hakkimizda
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="container">
    <div class="col-md-12">
        <h4>
            @Html.Raw(Model.Baslik)
        </h4>
        <img src="~/Uploads/Hakkimizda/@Model.imgURL" alt="" class="align-center img-box img-responsive" />
        <p>
            @Html.Raw(Model.Aciklama)
        </p>
    </div>
</div>


