@model kisiselWebsitem.Models.ViewModel.HomeViewModel
@{
    Layout = null;
}

<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img src="@ViewBag.Ayarlar.LogoURL" height="30" width="75" /> @ViewBag.Ayarlar.Unvan</a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model.Menuler)
                    {
                        <li><a href="/@item.Url">@item.MenuAdi</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>
</header>